<html>
<head>
	<title></title>
</head>
<body bgcolor="black">
<form action="{{ url_for("command_input")}}" method="post">
<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">&nbsp;</p>

<h3 style="text-align: center;"><span style="color:#FF0000;"><span style="font-family:courier new,courier,monospace;"><label for="firstname">command:</label></span></span></h3>

<p style="text-align: center;"><span style="color:#FF0000;"><span style="background-color:#000000;"><input id="firstname" name="fname" placeholder="" type="text" /></span></span></p>

<p style="text-align: center;"><span style="color:#FF0000;"><button type="submit">Write</button></span></p>
</form>
</body>
</html>
  